#page-topbar {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100vw - 260px);
  height: 64px;
  text-align: center;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 1002;
}

.navbar-menu {
  width: 250px;
  z-index: 1002;
  background: var(--vz-vertical-menu-bg);
  border-right: 1px solid #fff;
  bottom: 0;
  margin-top: 0;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 4px rgb(15 34 58 / 12%);
  padding: 0 0 calc(70px + 25px) 0;
  transition: all 0.1s ease-out;
}

.app-menu {
  background: #405189;
  border-right: #405189;
  color: white;
}

.navbar-brand-box {
  text-align: center;
  padding: 10%;

  .logo {
    padding: 0;
    margin: 0;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu-title {
  letter-spacing: 0.05em;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #838fb9;
  font-weight: 600;
}

.menu-title span {
  padding: 12px 20px;
  display: inline-block;
}

.nav-item {
  text-align: left;
  color: white;
}

.nav-link {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out;
}

.navbar-menu .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0.625rem 1.5rem;
  color: white;
  font-size: 0.9375rem;
  font-family: 'hkgrotesk', sans-serif;
}

.collapse:not(.show) {
  display: none;
}

.flex-column {
  flex-direction: column !important;
}

.nav-link {
  color: #abb9e8;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.collapsing {
  overflow: hidden;
  transition: height 0.35s ease;
  height: 111px;
}

.nav-link .menu-link::after {
  display: block;
  content: '>';
  font-family: 'Material Design Icons';
  margin-left: auto;
  transition: transform 0.2s;
  font-size: 1.05rem;
  position: absolute;
  right: 18px;
  color: white;
}

.label-class {
  color: #abb9e8;
}
.arrow-logo {
  position: absolute;
  right: 20px;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 1002;
}

.footer {
  bottom: 0;
  padding: 20px 0.75rem;
  position: fixed;
  right: 0;
  color: #98a6ad;
  left: 250px;
  height: 60px;
  background-color: white;
}
.page-content {
  padding: calc(70px + 1.5rem) calc(1.5rem / 2) 60px calc(1.5rem / 2);
}

.main-content {
  margin-left: 250px;
}

.page-content {
  padding: calc(70px + 1.5rem) calc(1.5rem / 2) 60px calc(1.5rem / 2);
}

.hamburger-icon {
  display: none;
}
.scroll-icon {
  display: none;
}

@media (max-width: 667px) {
  .navbar-menu {
    width: 0;
  }
  .logo {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
  #page-topbar {
    left: 0;
    width: 100%;
  }
  .footer {
    left: 0;
  }
  .hamburger-icon {
    display: block;
  }
  .scroll-icon {
    display: block;
  }
  .navbar-brand-box {
    display: flex;
    justify-content: space-between;
  }
  .navbar-header {
    display: flex;
    justify-content: space-between;
  }
}

.vertical-sidebar-enable {
  width: 250px;
}

.show-narbar-menu {
  width: 250px;
}

.add-opacity {
  opacity: 0.5;
}

.navbar-trasition {
  transition: 0.3s;
}
